body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    background-color: #F0FBFF;
}

header, footer{
    background-color: #FAF7CA;
    padding: 15px;
}

.site-title {
    color: #00A9A0;
}

/* properties of box-shadow
h-offect
v-offect
blur
spread
color
*/
#my-image {
    width: 240px;
    height: 360px;
    box-shadow: 0px 0px 2px 1px #000;
}

.hobby ul {
    list-style: square;
}

.hobby ul li:nth-child(odd) {
    background-color: #57CFFA;
}

header ul {
    list-style: none;
    display: flex;
    justify-content:left;
    padding-left: 0px;
}

header a:link {
    text-decoration: none;
    background-color: #00A9A0;
    border: 1px solid #DB5501;
    text-decoration-color: #FAF7CA;
    padding: 10px 20px;
}

header a:hover {
    background-color: #F0FBFF;
    color: #00A9A0;
}