body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    background-color: #F0FBFF;
}

header, footer{
    background-color: #FAF7CA;
}

.heading {
    color: #00A9A0;
}

/* properties of box-shadow
h-offect
v-offect
blur
spread
color
*/
#image {
    width: 240px;
    height: 360px;
    box-shadow: 0px 0px 2px 1px #000;
}

.hobby ul {
    list-style: square;
}

.hobby ul li:nth-child(odd) {
    background-color: #57CFFA;
}