/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* End reset here */

/* Basic font and color setting */
body {
	background-color: #aad4cf;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
    line-height: 1.5;
	width: 900px;
	margin: auto;
}

h1 {
	font-size: 48px;
	/* font-weight: bold; */
}

h2 {
	font-size: 32px;
	/* font-weight: bold; */
}

h3 {
	font-size: 26px;
}

body .navigation, main {
	background-color: #d4e9e7;
}
/* End of basic setting */

/* Styling the header */
header {
	height: 300px;
	width: 900px;
	background-image: url(../images/lone-starfish-wide.jpg);
	background-size: cover;
	background-position: center;
	display: flex;
	/* z-index: 0; */
}

/* Set color and the position of head text */
header h1 {
	color: #fff;
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, 5%);
	text-align: center;
}
/* Header styling end */
	
/*Styling the Navigation*/
/* General style setting */
.navigation ul {
	font-size: 1.5rem;
	list-style: none;
	display: flex;
	padding: 0.5rem;
	justify-content: center;
	font-weight: bold;
	position: relative;
	z-index: 1;
}

.navigation a:link {
	text-decoration: none;
}

/* Set margin of Home and Contact menu*/
.home, .contact {
	margin-left: 110px;
	margin-right: 110px;
}

/* Set margin and border of Story menu*/
.story {
	border-left: 2px solid;
	border-right: 2px solid;
	padding-left: 100px;
	padding-right: 100px;
}
/* Navigation styling end */

/* Styling the life part  */
article {
	padding: 10px;
}

.life h2 {
	padding-bottom: 10px;
}

/* Set the picutre size and float on the left */
.life img {
	height: 228px;
	width: 222px;
	padding-right: 15px;
	padding-bottom: 20px;
	float: left;
}

/* Clear floating of the picture to avoid wrap other elements */
.clearfix::after{
    content: "";
    display: block;
    clear: both;
}
/* Life part styling end */

/* Styling the facts part */
.facts ul {
	list-style:disc;
	list-style-position: inside;
	padding-left: 3px;
	line-height: 1rem;
}

.facts H3 {
	padding-bottom: 10px;
}
/* Facts part styling end */

/* Styling the contact part */
.contact-form form {
	border: 2px solid #000;
	padding: 10px;
	padding-top: 20px;
}

.contact-form h3{
	padding-bottom: 10px;
}

/* Set both lable and input into block, so that they can appear on separate lines */
.contact-form .text-label {
	display: block;
	font-size: 1.2rem;
}

.contact-form .text-input {
	display: block;
	border: none;
	margin-top: 5px;
	margin-bottom: 10px;
	width: 850px;
	height: 1.5rem;
}

/* Set the style of message input box to make it larger*/
#message {
	border: 1px solid #000;
	height: 6rem;
}

.contact-form h4 {
	font-size: 1.4rem;
	padding-top: 5px;
	padding-bottom: 10px;
}

.contact-form .choose-label {
	font-size: 1.2rem;
}

.contact-form .submit button {
	padding: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	text-transform: uppercase;
}
/* End of the contact part styling */

/* Styling the footer part */
footer {
	background-color: #d4e9e7;
	padding: 20px;
	text-align: right;
	font-weight: bold;
}