/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* End reset here */

/* 
logo background color: c78c02
about part background color: ffe6ac
team line color: c78b07
table head color: ffe6ac
yellow font color: c78b07
*/

/* Overall basic font setting */
body {
    font-family: 'Open Sans', sans-serif;
	font-size: 16px;
    line-height: 1.5;
}

h1 {
	font-size: 48px;
    font-weight: bold;
}

h2 {
	font-size: 32px;
	font-weight: bold;
}

h3 {
	font-size: 26px;
    font-weight: bold;
}
/* End of basic setting */

.wrapper {
    /* width: 760px; */
    margin: 0 auto;
}

/* Styling the header */
header {
    background-color: black;
    padding: 0 10px;
}

.img-container {
    background-color: #c78c06;
    height: 120px;
    padding-top: 20px;
}

header nav {
    display: flex;
    justify-content: center;
}

header nav ul {
    margin: 0;
    padding: 0;
    width: 100%;
}

header nav li {
    padding: 20px 0;
    text-align: center;
    color: #c78c06;
}

header nav li:nth-child(1) {
    width: 100%;
    background-color: #c78c06;
    color: black;
}

/* Styling the search bar */
input[type="search"] {
    /* calc of the width is to make sure the search button always have a square area */
    width:calc(100% - 40px);
    height: 40px;
    margin-bottom: 15px;
}

header form label i {
    color: #c78c06;
    font-size: 1.2rem;
    border: 1px solid #c78c06;
    padding: 7px;
    margin: 0;
}

/* Styling the banner part */
.banner {
    position: relative;
}

.banner img {
    width: 100%;
}

.banner-content {
    position: absolute;
    /* set opacaty of background */
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    margin-top: 40px;
    padding-left: 20px;
}

.banner-content h1 {
    font-size: 4rem;
    margin-top: 20px;
    margin-bottom: 10px;
}

.connect {
    margin: 10px 0;
    padding: 20px;
    font-size: 1.5rem;
    background-color: #c78c06;
}

.connect i {
    padding-left: 10px;
}